
.primary_col{
    min-width: 220px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.second_col{
    width: 100%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
}